.wrapper {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 999999;
}

.indicator {
	position: absolute;
	border: 3px solid #000;
	border-radius: 10px;
	will-change: transform, width, height;
}

.hidden {
	display: none;
	height: 0;
	width: 0;
	transform: translateX(0), translateY(0);
}
