.projectWrapper {
	position: relative;
	display: flex;
	justify-content: center;
}

.projects {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 60px;
	overflow: hidden;
	border: 1px solid #ccc;
}

.projectTicker {
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.projectContainerWrapper {
	display: flex;
	will-change: transform;
}

.projectContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.project {
	white-space: nowrap;
	padding: 8px 16px;
	font-size: 1rem;
	margin: 2px 5px;
	border-radius: 100px;
	background: #eee;
	cursor: pointer;
}

.debugPanel {
	position: absolute;
	z-index: 10000;
	bottom: 0;
	right: 0;
	color: #ccc;
	background: #000;
	padding: 2px 6px;
	font-size: 0.6rem;
}

.dialog {
	position: absolute;
	padding: 14px 34px;
	width: 500px;
	height: auto;
	bottom: 100%;
	margin-bottom: 30px;
	background: #ccc;
}

/* .dialog > * {
	opacity: 0;
} */
