.projectTicker {
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.projectContainerWrapper {
	display: flex;
	will-change: transform;
}

.projectContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
