.projects {
	position: relative;
	display: flex;
	justify-content: center;
	border: 1px solid #ccc;
	height: 60px;
}

.projectTicker {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.projectItemActive {
	background: green;
}
