.intro {
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
}

.intro article {
	position: relative;
	flex: 1;
}

.intro h1 {
	/* display: block;
	width: 0;
	white-space: break-all; */
	font-size: 5rem;
	margin: 0;
}

.intro p {
	max-width: 45ch;
	font-size: 1.15rem;
}
